$color-red: rgb(235, 52, 52);
$color-pink: #FF006B;
$color-light-pink: #F7B3AA;
$color-yellow-orange: #d8bd22;
$color-yellow: #F3FA18;
$color-light-blue: #3bcfd4;
$color-blue: #1882da;
$color-orange: #FE7A32;
$color-black: rgb(43, 39, 39);
$color-purple: rgb(108, 25, 141);
$color-light-purple: rgb(167, 79, 226);
$color-green: rgb(70, 204, 70);